@use '../basic-layout/basic-layout.scss';

.welcome-wrapper {
  height: 70vh;
  display: flex;
  flex-basis: 100%;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.navigator-wrapper-left {
  display: flex;
  flex: auto;
  padding-left: 30px;
}


.icon-link-wrapper{
  text-decoration: none;
  display: flex; 
  flex-direction: row;
  padding-top: 10px;

  .icons {
    height: 40px;
    width: 40px;
    color: black;
  }
}

