.wrapper {
  display: flex;
  flex: 1;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    display: flex;
    flex-basis: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}
