.image-container{
  display: flex;
  flex: auto;
  padding-right: 10%;
  padding-left: 10%;


  .image-wrapper{
    display: flex; 
    justify-content: center;
    align-items: center;

    .image{
      width: 20em;
      height: 30em;
    }
  }
}