.welcome-header {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;


  #name-logo{
    height: inherit;
    max-width: 50em;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}


@media only screen and (max-width: 1024px) {
  #welcome-text{
    font-size: 30px;
  }

  #welcome-sub-text{
    font-size: 20px;
  }
}
