.welcome-header {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  #name-logo {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 110px;
    margin-left: 110px;
  }
}
