#root {
  display: flex;
  justify-content: center;
}

.wrapper {
  height: 75vh;
}


.title-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

.navigator-wrapper-left {
  display: flex;
  flex: 1;
  padding-left: 100px;

}

.main-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-left: 30px;
}


.article-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.navigator-wrapper-right {
  display: flex;
  flex: 1;
padding-right: 100px;
}

.spacer {
  width: 100px;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 42px;
  font-weight: 400;

  margin: 0;
  padding: 0;
}

h3 {
  font-size: 36px;
  font-weight: 400;

  margin: 0;
  padding: 0;
}

p {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
