#root {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}


.wrapper {
  height: 75vh;
  display: flex; 
  flex-basis: 100%;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}


.navigator-wrapper-left {
  display: flex;
  flex: auto;
  padding-left: 100px;
}

.navigator-wrapper-right {
  display: flex;
  flex: auto;
  padding-right: 100px;
}

h1 {
  font-size: 42px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 37px;
  font-weight: 400;

  margin: 0;
  padding: 0;
}

h3 {
  font-size: 31px;
  font-weight: 400;

  margin: 0;
  padding: 0;
}

p {
  font-size: 19px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1024px) {



.wrapper {
  display: flex; 
  flex-basis: 100%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}


}
