.tech-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: auto;
  height: 60vh;
  margin-right: 25px;
  margin-left: 25px;

  #separator {
    height: 3px;
    width: 130px;
    margin-bottom: 40px;
    background-color: #4f8689;
  }

  .list-inner-wrapper {
    display: flex;
    flex-flow: row wrap;

    .inner-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-flow: row wrap;
    }

    .list-container {
      display: flex;
      flex: 1;
      flex-flow: column wrap;
      height: 50%;

      #list-element {
        padding-top: 10px;
        padding-bottom: 10px;
        flex-direction: row;
      }

      #logo {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #4f8689;
        height: 27px;
        width: 25px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .tech-wrapper {
    display: flex;
    flex: auto;
    margin-right: 25px;
    margin-left: 25px;

    #list-element {
      font-size: 16px;
    }
  }
}
