.logo-pointer {
  cursor: pointer;
}

.nav-bar {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;

  .list-item {
    text-decoration: none;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 10px;
  }
}
#image-logo {
  height: 60px;
}

.icons-mobile-nav-bar {
  margin-right: 5px;
  margin-left: 5px;
}

/* Left to Right */

.sliding {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.sliding:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 25%;
}
.sliding:hover:after {
  margin-top: 10px;
  width: 100%;
  height: 10%;
  border-width: 2px;
  border-style: solid;
  border-bottom-color: #557381;
  border-top: none;
  border-left: none;
  border-right: none;
}

.contact {
  color: #557381;
  text-decoration: none;
  font-weight: 800;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 10px;
}

.mobile-wrapper {
  position: relative;
  .nav-bar-mobile-container {
    position: absolute;
    top: 4vh;
    bottom: 0;
    right: 0;
    left: -30px;

    .inner-mobile-container {
      background-color: #557381;
      height: 100vh;
    }
  }

  li {
    list-style-type: none;
  }

  .list-item-mobile {
    text-decoration: none;
    color: white;
    padding-bottom: 20px;
    font-size: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .nav-bar-container {
  }
}
