.main-wrapper-position { 
  display: flex;
  flex-direction: column;
  font-family: 'Poppins';
  max-width: 1300px;

  .nav-bar-position {
    padding-top: 16px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    flex: 1
  }
}
