
.find-out-more-container{
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  flex: 1;


  
  .small-button {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
  
    #small-button-text {
      color: #847d7d;
      font-size: 18px;
      margin-right: 10px;
    }
  
    #small-icon {
      color: #847d7d;
      height: 20px;
      width: 20px;
    }
  
  }
  
  .down-line {
    width: 1px;
    height: 315px;
    background-color: #847d7d;
  }
}
