
.wrapper-left-find-out-more{
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  flex: 1;  
  margin-top: 50px;
  margin-bottom: 50px;
}


.wrapper-right-find-out-more{
  display: flex; 
  flex-direction: column;
  align-items: flex-end;
  flex: 1;  
  margin-top: 50px;
  margin-bottom: 50px;
}



.inner-container{
  display: flex; 
  flex-direction: column;
  align-items: center;

  
  .small-button {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
  
    #small-button-text {
      color: #a1a1a1;
      font-size: 18px;
      margin-right: 10px;
    }
  
    #small-icon {
      color: #a1a1a1;
      height: 20px;
      width: 20px;
    }
  
  }
  
  .down-line {
    margin-top: 20px;
    width: 1px;
    height: 30vh;
    background-color: #a1a1a1;
  }
}
