.article-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;

  #separator {
    height: 3px;
    width: 130px;
    margin-bottom: 40px;
    background-color: #4f8689;
  }

  .button {
    margin-top: 40px;
    background-color: transparent;
    border: 3px solid #4f8689;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;

    .button-text {
      padding-left: 10px;
      padding-top: 3px;
      padding-bottom: 3px;
      text-align: left;
      color: #4f8689;
    }

    #icon {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #4f8689;
      height: 27px;
      width: 25px;
    }    
  }
}
