.noticeboard-logo{
  height: 35vh;
  width: 30rem;
  padding-bottom: 50px;
  padding-top: 50px;

}

@media only screen and (max-width: 1024px) {
  .noticeboard-logo {
    height: 100%;
    width: 100%;
  }
}